{extend name="Public/base" /}
{block name="body"}
    <div class="ibox-title">
        <h5>{$meta_title}</h5>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" action="__SELF__" method="post">
                <!--网址 单行文本-->
                {form:input name="title" title="模型名称" value="info['title']" cols="3" tips="所显示的模型名称" /}
                <!--链接 单行文本-->
                {form:input name="tablename" title="数据表" value="info['tablename']" tips="必须和真实表名称相同" /}
                <!--链接 单行文本-->
                {form:input name="sort" title="排序" value="info['sort']" tips="排序越大越靠前" cols="2" /}
                <!--模板 选择框-->
                {form:select name="pid" title="编辑模板" first="==模板==" data="tpl_publish" selected="info['tpl_publish']" /}
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <input type="hidden" name="type" value="{$info.type}">
                        <input type="hidden" name="id" value="{$info.id|default=''}">
                        <button class="btn btn-primary btn-block btn-lg ajax-form" type="submit" target-form="form-horizontal"><i class="fa fa-check"></i>&nbsp;提交</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-lg btn-block" onclick="javascript:history.back(-1);return false;"><i class="fa fa-reply"> 返回</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}