{extend name="Public/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__JS__/webuploader/webuploader.css">
<link rel="stylesheet" type="text/css" href="__JS__/colorpicker/css/bootstrap-colorpicker.min.css">
<style>
#jumpURL{display: none;}
</style>{/block}
<!-- 子导航 -->
{block name="body"}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#base" aria-expanded="true">基本设置</a></li>
        <li><a data-toggle="tab" href="#extend" aria-expanded="false">扩展属性</a></li>
    </ul>
    <div class="ibox-content ibox-noborder float-e-margins tab-content">
        <form class="form-horizontal m-t" action="__SELF__" method="post">
            <div id="base" class="tab-pane active">
            	{form:input title="接入商名称" value="info['accessname']" name="accessName"  cols="3"/}
            	                <!--真实姓名-->
                {form:input name="accessType" title="接入商编号" value="info['accesstype']" cols="3"  /}
                {form:input name="email" title="邮箱账号" value="info['email']" cols="3"  /}
                {form:input name="accessID" title="接入接入ID" value="info['accessid']" cols="3"  /}
                {form:input name="accessKey" title="接入秘钥" value="info['accesskey']" cols="3"  /}
                
            </div>
            <div id="extend" class="tab-pane">
                <!--是否跳转链接 开关效果-->
                {form:switch name="islink" title="跳转" value="info['islink']" tips="开启后必须设置跳转链接" /}
                <div id="jumpURL" {notempty name="info['islink']"}style="display:block"{/notempty}>
                    <!--链接 单行文本-->
                    {form:input name="url" title="链接" value="info['url']" tips="跳转指向的链接地址" /}
                </div>
                <!--标识 单行文本-->
                {form:input name="name" title="标识" value="info['name']" cols="3" tips="如不填，默认为栏目拼音" /}
                <!--发布时间 日期时间选取器-->
                {form:datetimepicker name="inputtime" title="发布时间" value="info['inputtime']|times" tips="可选择任何一个日期" /}
                <!--排序 单行文本-->
                {form:input name="sort" title="排序" value="info['sort']|default='0'" cols="1" /}
                <!--点击数 单行文本-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">浏览：</label>
                    <div class="col-sm-5">
                        <div class="input-group col-sm-3">
                            <input type="text" name="views" id="views" value="{$info['views']|default=0}" class="form-control"">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default doRand"><i class="fa fa-refresh fa-spin"></i></button>
                            </div>
                        </div>
                        <span class="help-block"><i class="fa fa-info-circle"></i> 点击显示随机数</span>
                    </div>
                </div>
                <!--名称 单行文本-->
                {form:input name="template" title="模板" value="info['template']" cols="2" /}
                <!--允许评论 开关效果-->
                {form:switch name="iscomment" title="允许评论" value="info['iscomment']" /}
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-3">
                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <button class="btn btn-primary btn-block btn-lg ajax-form" type="submit" target-form="form-horizontal"><i class="fa fa-check"></i>&nbsp;提交</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-info btn-lg btn-block" onclick="javascript:history.back(-1);return false;"><i class="fa fa-reply"> 返回</i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block} {block name="script"}
<script type="text/javascript" src="__JS__/webuploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/webuploader/upload.js"></script>
<script type="text/javascript" src="__JS__/colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript">
    
</script>
{/block}
