{extend name="Public/base" /}
{block name="style"}
<!-- <link href="__CSS__/aboutus/base.css" rel="stylesheet" type="text/css">
<link href="__CSS__/aboutus/layout.css" rel="stylesheet" type="text/css"> -->
<link href="__CSS__/aboutus/introduce.css" rel="stylesheet" type="text/css">
{/block}

{block name="body"}
<div class="clearit"></div>


<div class="nybanner"></div>

<div class="nyclassbt conter">公司简介</div>

<div class="nynr conter" deep="0">
      　　1314发卡平台隶属于宁波拽博网络科技有限公司,公司致力于开发、打造、维护目前市场所需求的闲置物品寄卖以及数字产品交易的电子商务平台系统。我们将引领的交易寄卖平台的个性化、自动化、工具化等。 我们承诺将秉承"客户至上"的经营理念，关注好每一个细节，不断完善用户体
验，优化安全机制，努力提升服务质量。 我们相信，在每位职员的努力下，开创性的交易寄卖平台时代即将来临。<br data-filtered="filtered"> 
<br data-filtered="filtered">
      　　我们打破了传统软件注册码交易网站几年来一成不变的局面，建立了新一代软件注册码电子商务交易平台的行业方向，我们将引领软件注册码交易过程的个性化、自动化、工具化等。我们不断创新，力争成为行业的佼佼者。<br data-filtered="filtered"> 
<br data-filtered="filtered">
      　　我们承诺将秉承"客户至上"的经营理念，关注好每一个细节，不断完善用户体验，优化安全机制，努力提升服务质量。<br data-filtered="filtered">
          <!-- <div class="guanyu_img">
             <div class="gy1"><img src="__IMG__/aboutus/gy1.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy2.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy3.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy4.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy5.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy6.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy7.jpg" alt="关于我们" width="285" height="225"></div>
             <div class="gy1"><img src="__IMG__/aboutus/gy8.jpg" alt="关于我们" width="285" height="225"></div>
          </div> -->
       
</div>

{include file="public" /}

{/block}



