{extend name="Public/base" /}
{block name="style"}
<!-- <link href="__CSS__/aboutus/base.css" rel="stylesheet" type="text/css">
<link href="__CSS__/aboutus/layout.css" rel="stylesheet" type="text/css"> -->
<link href="__CSS__/aboutus/introduce.css" rel="stylesheet" type="text/css">
{/block}

{block name="body"}
<div class="clearit"></div>


<div class="nybanner"></div>

<div class="nyclassbt conter">联系我们</div>

<div class="lxwmdh conter">
<div class="lxdh left">
<div class=" left" style=" width:150px; height:60px; padding-left:70px"><p style=" width:150px; height:30px; font-size:16px; color:#333; line-height:30px">客服热线</p>
<p style=" width:150px; height:30px; font-size:12px; color:#999; line-height:30px">免费咨询帮助</p>
</div>
<div class="right" style=" width:350px; height:60px; font-size:32px; color:#99ca3d; line-height:60px; text-align:left">18069131930</div>
</div>

<div class="lxkf right">
<div class=" left" style=" width:200px; height:60px; padding-left:70px"><p style=" width:200px; height:30px; font-size:16px; color:#333; line-height:30px">在线客服</p>
<p style=" width:200px; height:30px; font-size:12px; color:#999; line-height:30px">在线倾听您的建议，疑问与投诉</p>
</div>
<div class="right" style=" width:150px; height:60px;  line-height:60px; text-align:left"><a href="" style=" width:150px; height:40px; margin-top:10px; text-align:center; border:#ddd solid 1px; font-size:16px; display:block; line-height:40px;">立即咨询</a></div>
</div>

</div>

<div class="clearit"></div>
<div class="lxwmbox conter">
<div class="left"><iframe src="map.html" width="399" height="279" frameborder="0" scrolling="no"></iframe><!-- <img src="./33_files/lxwmimg.jpg" width="399" height="279"> --></div>
<div class="addbox left">
<p style=" line-height:36px; font-size:18px; color:#333">宁波拽博网络科技有限公司</p>
<p style=" line-height:30px; font-size:14px; color:#999">联系地址</p>

<p style=" line-height:28px; font-size:14px; color:#666">宁波市鄞州区泰安中路456号1101-30室</p>
<p style=" line-height:30px; font-size:14px; color:#999">电子邮箱</p>
<p style=" line-height:28px; font-size:14px; color:#666">18069131930@163.com</p>
<p style=" line-height:30px; font-size:14px; color:#999">联系电话</p>
<p style=" line-height:28px; font-size:14px; color:#666">
18069131930 （周一至周五 早9.00 - 晚17.00) 
</p>
<p style=" line-height:30px; font-size:14px; color:#999">买家客服</p>
<p style=" line-height:28px; font-size:14px; color:#666">
QQ：2881524852
</p>


</div>
<div class="addbox left">
<p style=" line-height:36px; font-size:18px; color:#333">业务咨询</p>
<ul>
<p>客服冰冰QQ 2881524851
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2881524851&amp;site=qq&amp;menu=yes">
		<img border="0" src="http://wpa.qq.com/pa?p=2:2881524851:41" alt="点击这里给我发消息" title="欢迎对我的服务作评价">
	</a>
</p>
<p>客服阿辉QQ 2881524852
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2881524852&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2881524852:41" alt="点击这里给我发消息" title="欢迎对我的服务作评价"></a></p>
<p>客服小伟QQ 2881524853
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2881524853&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2881524853:41" alt="点击这里给我发消息" title="欢迎对我的服务作评价"></a></p>
<p>客服佳明QQ 2881524854
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2881524854&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2881524854:41" alt="点击这里给我发消息" title="欢迎对我的服务作评价"></a></p>
<p>商务合作QQ 2881524850
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2881524850&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2881524850:41" alt="点击这里给我发消息" title="欢迎对我的服务作评价"></a></p>
</ul>
</div>

</div>
{include file="public" /}
{/block}



