
<div class="aboutys conter">
<div class="abysl left">
<p class="abyslbt">团队力量</p>

<p class="abyslnr">年轻活力、朝气蓬勃<br>
积极向上、团结互助<br>
善于思考、擦亮眼睛做对事</p> 
</div>

<div class="abysl left">
<p class="abyslbt">经营理念</p>

<p class="abyslnr">不断创新，共同成长<br>
客户至上，用最真挚的态度为客户服务<br>
始终如一，为梦想而努力奋斗！</p> 
</div>

<div class="abysr right">
<p class="abysrbt">核心价值</p>

<p class="abysrnr">客户第一、以人为本<br>
团队利益、诚信负责<br>
</p> 
</div>

</div>
<div class="clearit"></div>
<div class="gsysbox">
<div class="gsys conter">
<div class="gsysnr left"><img src="__IMG__/aboutus/tb1.jpg" width="60" height="60">　寄售平台</div>
<div class="gsysnr left"><img src="__IMG__/aboutus/tb2.jpg" width="60" height="60">　专属服务</div>
<div class="gsysnr left"><img src="__IMG__/aboutus/tb3.jpg" width="60" height="60">　安全保障 </div>
<div class="gsysnr left"><img src="__IMG__/aboutus/tb4.jpg" width="60" height="60">　踏实放心 </div>
</div>
</div>


<div class="clearit"></div>




