{extend name="Public/base" /}
{block name="style"}
<!-- <link href="__CSS__/aboutus/base.css" rel="stylesheet" type="text/css">
<link href="__CSS__/aboutus/layout.css" rel="stylesheet" type="text/css"> -->
<link href="__CSS__/aboutus/introduce.css" rel="stylesheet" type="text/css">
{/block}

{block name="body"}
<div class="clearit"></div>


<div class="nybanner"></div>

<div class="nyclassbt conter">企业资质</div>

<div class="nynr conter">
      <!-- <span style="font-weight: bold; font-size: 16px; color: #FF3300">营业执照</span> 
        <span style="font-size: 16px; color: #FF3300"><a href="" target="_blank">点此查询详细  </a></span><br><br> -->
	   <img src="__IMG__/aboutus/yyzz.jpg" width="950"><br><br><br>
</div>


{include file="public" /}

{/block}



