<meta charset="utf-8" />
<title>{$meta_title}-{:C('WEB_SITE_TITLE')}</title>
<link rel="stylesheet" type="text/css" href="__BASE_CSS__/bootstrap.min.css"/>
<link rel="stylesheet" href="__CSS__/common.css" />
<link rel="stylesheet" href="__CSS__/com-main.css" />
<link rel="stylesheet" href="__CSS__/center.css" />
<link rel="stylesheet" href="__BASE_CSS__/font-awesome.min.css" />
<link rel="stylesheet" href="__BASE_CSS__/plugins/datapicker/datepicker3.css" />
<link rel="shortcut icon" href="/logo.ico">
{// CSS }{block name="style"}{/block}