{extend name="Base/common" /}{block name="body"}
<div class="c-content">
    <div class="cd-wrap padding20">
        <form  action="__SELF__" method="post" class="form">
        	{center:input name="oldpassword" title="旧密码" value="info['oldpassword']" important="important" tips="密码为6至20个长度的字符" /}
        	
        	{center:input name="newpassword" title="新密码" value="info['newpassword']" important="important" /}
        	
        	{center:input name="confirmpassword" title="输入新密码" value="info['confirmpassword']" important="important" /}
                
            <div class="form-group">
                <input type="submit" value="保存设置" class="btn btn-success ajax-submit button_bg"  target-form="form">
            </div>
        </form>
    </div>
</div>
{/block}