{extend name="Base/common" /} {block name="body"}
<div class="c-content">
       <!--      <form action="{:U('index')}" method="get">
            <div class="form-group">
                <label for="price">商品名称</label>
                <select class="form-control" name="catid" >
                	<option value="0" {eq name="catid" value="0" }selected="selected"{/eq}>=商品名称=</option>
                	{volist name="cate" id="cate" }
                		<option value="{$cate['id']}" {eq name="catid" value="$cate['id']" }selected="selected"{/eq}>{$cate['goodname']}</option>
                	{/volist}
                </select>
                <label for="price">商品状态</label>
         		 <select class="form-control" name="is_state" >
	         		<option value=""  {if condition="I('get.is_state') eq null"}selected="selected"{/if}>=商品状态=</option>
	         		<option value="1" {if condition="I('get.is_state') eq '1'"}selected="selected"{/if}>已出售</option>
	         		<option value="0" {if condition="I('get.is_state') eq '0'"}selected="selected"{/if}>未出售</option>
         		</select> 
                <label for="name">卡号</label>
                <input type="text" id="name" class="form-control" name="title" value="{:I('get.title')}" >
                <button class="btn btn-success btn-middle">搜索</button>
            </div>
            </form> -->
            <form class="ids">
            <table class="list-table marginT30">
                <thead>
                    <tr>
                     	<th>收款方式</th>
                        <th>金额</th>
                        <th>手续费</th>
                        <th>实际金额</th>
                        <th>状态</th>
                        <th>结算日期</th>
                    </tr>
                </thead>
                 {notempty name="accountList"}
				{volist name="accountList" id="vo"}
                <tr>
                 <td><font color="green"> {$vo.ptypetext}</font></td>
                 <td>{$vo.money}</td>
                 <td>{$vo.fee}</td>
                 <td>{$vo.realmoney}</td>
                 <td>{:get_payments_status($vo['is_state'])}</td>
                 <td>{$vo['updatetime']}</td>
                </tr>
			{/volist}
			{else/}
            <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
            {/notempty}
            </table>
        </form>
         <div style="text-align: center;">
        {$_page}
        </div>
        </div>
{/block}
