<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
<link href="__CSS__/plugins/iCheck/flat/green.css" rel="stylesheet">
<link href="__CSS__/font-awesome.min.css" rel="stylesheet">
<style>
.page {
	text-align: center;
}
.page ul {
	margin-top: 0;
}
</style>
<div class="ibox-content">
        <form class="form-horizontal m-t ids">
            <table class="table table-striped">
                <thead>
                    <tr>
                       <!--  <th class="row-selected icheck">
                            <input class="checkall" type="checkbox">
                        </th> -->
                        <!-- <th>订单时间</th>
                        <th>商户名称</th>
                        <th>商品名称</th> -->
                       <!--  <th>买家信息</th> -->
                        <th>订单号</th>
                        <th>投诉日期</th>
                        <th>支付通道</th>
                        <th>商品价格</th>
                        <th>商机应收</th>
                         <th>手续费</th>
                        <th>冻结金额</th>
                        <th>商家状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {notempty name="list"}
                        {volist name="list" id="vo"}
                            <tr>
                               <!--  <td class="icheck">
                                    <input class="ids check" type="checkbox" name="ids[]" value="{$vo.id}">
                                </td> -->
                                <!-- <td>{$vo['addtime']}</td> -->
                               <!--  <td class="col-sm-1">{:users($vo['userid'],'username')}</td>
								<td class="col-md-2">{:good($vo['goodid'],'goodname')}</td> -->
                                <td>{$vo.orderid}</td>
                                <td>{$vo['addtime']}</td>
                                <td>{:channel($vo['channelid'],channelname)}</td>
                                <td>{$vo['money']}</td>
                                <td>{$vo['unpaid']}</td>
                                 <td>{$vo['fee']}</td>
                                <td>{$vo['freezemoney']}</td>
                                <td>{:get_agree_status($vo['is_agree'])}</td>
                                <td><a href='javascript:void(0);' class='btn btn-info btn-xs accont-complain' userid="{$vo['userid']}" orderid="{$vo.orderid}" fee="{$vo.fee}" unpaid="{$vo.unpaid}"><i class="fa fa-calculator "></i>结算</a>
								<a href='javascript:void(0);' class='btn btn-danger btn-xs refund-complain'   userid="{$vo['userid']}" orderid="{$vo.orderid}" fee="{$vo.fee}" unpaid="{$vo.unpaid}"><i class="fa fa-reply"></i>退款</a></td>
                            </tr>
                        {/volist}
                    {else/}
                    <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
                    {/notempty}
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
        	<ul class="pagination">
            	{$_page}
        	</ul>
        </div>
    </div>
 <script src="__JS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
 <script src="__JS__/plugins/layer/layer.js"></script>
 <script>
 //结算投诉订单
 	$(function () {
		setTimeout(function () {
			parent.reflesh()
		}, 3000)
 	})
	$(".accont-complain").click(function(){
		console.log("unpaid-money:"+$("#unpaid-money").text());
		var that = $(this);
		var fee = that.attr('fee');
		var unpaid = that.attr('unpaid');
		var orderid = that.attr('orderid');
		var userid = that.attr('userid');
		var allmoney = parseInt(fee)+parseInt(unpaid);
		var check_url = "/Admin/UserMoney/isaccont"
		var url = "/Admin/UserMoney/accontComplain";
		var msg='';
		var money=null;
		//检查正常订单是否已经结算完,如果未结算的，这边无需结算手续费，如果已经结算掉的需要退还手续费
		   $.ajax({
	       type: "POST", 
	       url: check_url, 
	       data:{orderid:orderid},
	       cache:false, 
	       async:false, //异步转同步
	       success: function(resoult){ 
				 if(resoult.status ==1){
			     	msg= '检测到正常订单已全部结算完，本次结算将此订单未结算金额'+unpaid+'以及手续费'+fee+'共计'+allmoney+'元转入商家账户';
			     	money = allmoney;
				 }else{
					msg= '检测到有未结算完的正常订单，本次结算只将此订单未结算金额'+unpaid+'元转入商家账户，手续费'+fee+'元将在结算正常订单时一并结算';
					money = unpaid;
				 }
	       } 
		});
		
		layer.alert(msg, {
			closeBtn: 1    // 是否显示关闭按钮
			,btn: ['确定','关闭'] //按钮
			,area: ['60%', '50%'] //宽高
			,icon: 6    // icon
			,yes:function(){
				$.post(url,{money:money,orderid:orderid,userid:userid},function(resoult){
				//	layer.close(alert);
					layer.msg(resoult.info);
			    	if(resoult.status ==1){
			    		that.parents("tr").remove();
			    		parent.refleshAccount(); //刷新结算订单的弹框
			    	}
				})
			}});
	})
	
//退款投诉订单
	$(".refund-complain").click(function(){
		var that = $(this);
		var that = $(this);
		var fee = that.attr('fee');
		var unpaid = that.attr('unpaid');
		var orderid = that.attr('orderid');
		var userid = that.attr('userid');
		var money = parseInt(fee)+parseInt(unpaid);
		var check_url = "/Admin/UserMoney/isaccont"
		var url = "/Admin/UserMoney/refundComplain";
		//检查正常订单是否已经结算完,如果未结算的,暂时不让退款
		   $.ajax({
	       type: "POST", 
	       url: check_url, 
	       data:{orderid:orderid},
	       cache:false, 
	       async:false, //异步转同步
	       success: function(resoult){
				 if(resoult.status ==0){
					 layer.msg('检测到有未结算完的正常订单，请先结算完再执行退款操作')
			     	 return false;
				 }else{
						layer.alert('退款后将商品总额'+money+'元转入买家账户', {
							closeBtn: 1    // 是否显示关闭按钮
							,btn: ['确定','关闭'] //按钮
							,icon: 6    // icon
							,yes:function(){
								$.post(url,{money:money,orderid:orderid,userid:userid},function(resoult){
									//	layer.close(alert);
										layer.msg(resoult.info);
								    	if(resoult.status ==1){
								    		that.parents("tr").remove();
								    	}
									})
							}});
				 }
	       } 
		});
	})
	
 </script>   
    