<!DOCTYPE html>
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>1314发卡平台 - 商户登录</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="__CSS__/login_style.css">
  <link rel="stylesheet" type="text/css" href="__BASE_CSS__/font-awesome.min.css">
   <link rel="stylesheet"  type="text/css" href="__BASE_CSS__/validform.css">
   <link rel="stylesheet" type="text/css" href="__CSS__/alertifyjs/css/alertify.min.css">
</head>
<body  style="background: url(../../public/statics/images/home/login.gif);overflow: auto;">

  <div class="logo" onclick="location.href=&#39;/&#39;"></div>
  <div class="regsiter-content">
      <span class="big-msg">商户登陆</span>
      <div class="wrap-contents">
          <form class="login-form" action="__SELF__" role="form" method="post">
          <div class="wrap-inline" >
            <div class="l"><i>*</i>用户名:</div>
            <div class="r"><input  type="text" name="username" placeholder="用户名或手机号或邮箱" datatype="*"  id="username" /></div>
          </div>
          <div class="wrap-inline">
            <div class="l"><i>*</i>密码:</div>
            <div class="r"><input type="password" name="password" placeholder="请输入密码" datatype="*"  id="password" /></div>
          </div>
		 
          <div class="wrap-inline">
            <div class="l"><i>*</i>验证码:</div>
            <div class="r input-group">
			    <input type="text" name="verify" class="form-control" placeholder="验证码" datatype="*" nullmsg="请输入验证码" ajaxurl="checkVerifyValid"  style="width: 100px;border-radius: 2px 0 0 2px;">
			    <div class="cord-btn" style="display: inline-block; width: 31px;margin-left: -5px;">
			    	<button type="button" class="btn-primary reload" style="height: 31px; width: 31px;background-color: #1E65BD; border: 0; padding-bottom: 0px;">
			    	<i class="fa fa-circle-o-notch fa-spin" style="margin-left: -5px;color: #fff;"></i></button>
			    </div>
			    <div class="cord" style="width: 90px; display: inline-block;">
			    	<img class="verifyimg" class="img-polaroid" src="{:U('Api/Public/verify')}" style="height: 30px; margin-bottom: -10px; width: 178px;">
			    </div>
			</div>
          </div>
               
          <div class="wrap-inline" style="position: relative;height: 90px;">
            <div class="btn btn-code">立    即   登    陆</div>
          </div> 
          </form>
      <!--     <div class="wrap-inline" name="reg" style="display: none;">
            <span class="hi">hi 欢迎加入1314大家庭!</span>
          </div>      
          <div class="wrap-inline" name="reg" style="display: none;">
            <div class="btn btn-reg">注册完成</div>
          </div>  -->   
          <div class="wrap-inline">
            <p class="note">还没帐号?　<a class="a" href="{:U('Center/Public/register')}">立即注册</a></p>
          </div>
      </div>
  </div>
  <div id="login-reg-bottom">1314支付 2016-2017@关注我们</div>
  </div>
	<!-- <script src="__BASE_JS__/jquery.min.js"></script> -->
	<script type="text/javascript" src="http://validform.rjboy.cn/wp-content/themes/validform/js/jquery-1.6.2.min.js"></script>
	<script src="__BASE_JS__/Validform_v5.3.2.js"></script>
	<script src="__CSS__/alertifyjs/alertify.min.js"></script>
	<script type="text/javascript">
   
    //改变验证码
    var verifyimg = $(".verifyimg").attr("src");
    $(".reload").click(function(){
        if(verifyimg.indexOf('?')>0){
            $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
        }else{
            $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
        }
    });
    /* $(".btn-code").click(function(){
    	$(".login-form").submit();
    }); */
     $(".login-form").Validform({
    	 btnSubmit:".btn-code",
    	 ajaxPost:true,
    	 tiptype:function(msg, o){
    		 console.log("msg",msg);
    		 console.log("o",o);
             if (o.type == 3 && msg!="所填信息没有经过验证，请稍后…") {
                 alertify.warning(msg);
             }
         },
         callback:function(data){
        	 if(data.status){
             	 setTimeout(function(){
                	 location.href=data.url;
            		},1000);
        	 }
         }
    }); 
/* 
    $("#btn-code").on('click', function() {
        var $url  = "__SELF__";
        var $data = $('form').serialize();
        var $btn  = $(this).button('loading');
        $.post($url, $data, function(res) {
            if(res.status){
                layer.msg('注册成功！', {icon: 6, time: 1500 },function(){
                    window.location.href = res.url;
                });
            } else {
                layer.msg(res.info, {icon: 5, time: 1500 , anim: 6});
                $btn.button('reset');
            }
        }, 'json');
    }); */
	</script>
</body>
</html>