{extend name="Public/base" /}
{block name="style"}<link href="__CSS__/plugins/iconpicker/bootstrap-iconpicker.min.css" rel="stylesheet">{/block}
{block name="body"}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" action="__SELF__" method="post">
                <!--名称 单行文本-->
                {form:input name="title" title="任务名称" value="info['title']|default=''" tips="定时任务名称" cols="3" /}
                <!--名称 单行文本-->
                {form:input name="cron" title="文件" value="info['cron']|default=''" tips="网站目录/Application/Common/Cron/ 下的文件名称" cols="3" /}
                <!--图标 选择器-->
                {form:icon name="icon" title="图标" value="info['icon']|default=''" /}
                <!--发布时间 日期时间选取器-->
                {form:datetimepicker name="runtime" title="初始执行时间" value="info['runtime']|times" /}
                <!--名称 单行文本-->
                {form:input name="sort" title="排序" value="info['sort']|default='0'" tips="分组显示顺序" cols="2" /}
                <!--上级菜单 选择框-->
                {form:select name="intervals" title="间隔时间" first="==选择时间==" data="Intervals" selected="info['intervals']" /}
                <!--描述 多行文本-->
                {form:textarea name="remark" title="说明" value="info['remark']" cols="6" rows="3" tips="任务说明" /}
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <input type="hidden" name="id" value="{$info.id|default=''}">
                        <button class="btn btn-primary btn-block btn-lg ajax-form" type="submit" target-form="form-horizontal"><i class="fa fa-check"></i>&nbsp;提交</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-lg btn-block" onclick="javascript:history.back(-1);return false;"><i class="fa fa-reply"> 返回</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="script"}
    <script type="text/javascript" src="__JS__/plugins/iconpicker/iconset/iconset-fontawesome-4.2.0.min.js"></script>
    <script type="text/javascript" src="__JS__/plugins/iconpicker/bootstrap-iconpicker.min.js"></script>
{/block}
