{extend name="Public/base" /}
{block name="body"}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li><a href="{:U('access',array('group_id'=> I('group_id')))}">访问授权</a></li>
            <li><a href="{:U('category',array('group_id'=> I('group_id')))}">分类授权</a></li>
            <li class="active"><a href="javascript:;">成员授权</a></li>
        </ul>
    </div>
        	<div class="ibox-title m-t-0">
        <div class="btn-group pull-right">
            <form class="pull-right form-inline form-horizontal">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="uid" placeholder="uid,多个用英文逗号分隔">
                    <input type="hidden" name="group_id" value="{:I('group_id')}">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary ajax-form" url="{:U('addToGroup')}" target-form="form-horizontal"><i class="fa fa-add"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="pull-left col-sm-6">
            <button class="btn btn-primary input-sm ajax-status" target-form="ids" url="{:U('setStatus',array('status'=>1,'Model'=>'AuthGroup'))}"><i class="fa fa-check"> 启用</i></button>
            <button class="btn btn-primary input-sm ajax-status confirm" target-form="ids" url="{:U('del',array('Model'=>'AuthGroup'))}"><i class="fa fa-plus"> 删除</i></button>
        </div>
    </div>
    <div class="ibox-content">

        <form class="form-horizontal ids" action="" method="post">
            <table class="table table-striped">
                <thead>
                    <th class="row-selected icheck">
                        <input class="ids checkall" type="checkbox">
                    </th>
                    <th>UID</th>
                    <th>用户名|手机</th>
                    <th>上次登录时间</th>
                    <th>上次登录IP</th>
                    <th>登录次数</th>
                    <th>会员类型</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    {notempty name="_list"}
                        {volist name="_list" id="vo"}
                            <tr>
                                <td class="icheck">
                                    <input class="ids check" type="checkbox" name="ids[]" value="{$vo.id}">
                                </td>
                                <td>{$vo.id}</td>
                                <td>{$vo.username} {$vo.mobile}</td>
                                <td>{$vo.last_time|times}</td>
                                <td>{$vo.last_ip|long2ip}</td>
                                <td>{$vo.logins}</td>
                                <td>{$vo.modelid}</td>
                                <td>
                                    <a url="{:U('removeFromGroup?uid='.$vo['id'].'&group_id='.I('group_id'))}" class="btn btn-warning btn-xs confirm ajax-get" title="解除{$vo.username}的权限"><i class="fa fa-trash"></i> 解除授权</a>
                                </td>
                            </tr>
                        {/volist}
                        {else/}
                        <td colspan="8" class="text-center"> aOh! 暂时还没有内容! </td>
                    {/notempty}
                </tbody>
            </table>
            {$data['page']}
        </form>
    </div>
{/block}