{extend name="base" /}
{block name="style"}
	 <style>
        body{background: #fff;}
        .navbar{margin-bottom: 0px;}
        .navbar-default {background-color: #FFF;}
        .app-search{padding-top:20px;}
        .app_shouye_logo_register{color:#2bb9f2;font-size:24px;position:absolute;right:5%;top:3px;}
        .app_shouye_logo_register a{color:#2bb9f2;font-size:24px;}
        .app_ggnr{overflow: hidden;text-overflow: ellipsis;width: 92%;white-space:nowrap;margin: 0px auto;padding-left: 0px;}
        .app_date{font-size: 15px;color: #777;font-weight: 400;float: right;font-style: normal;}
        .app_tuichu_div{color:#2bb9f2;}
        .app_search_div{float:left;margin-left:2%;padding:0;width:95%;display: inline-block;}
        .common{background: #fff;text-align: center;padding: 0px 10px;box-sizing: border-box;padding-top: 7px;}
        .common p{padding: 8px 0px;white-space: nowrap;font-size: 20px;color:#666;}
        .bottom-red{color:#FF6666;font-style: normal;font-size: 18px;padding-left: 10px;}
        .search-input {width:84%;padding-left:60px;padding-right:0%;background: #fff url(https://storage.kuaifaka.com/app_login/search_03.png) no-repeat 25px center;}
    </style>
{/block}
{block name="body"}
<div class="kuaifaka_app" style="max-width: 100%;">
    <div class="app_head">
     <div class="app_header" style="background: #FFF url(https://storage.kuaifaka.com/app_register/bg.png??564888) no-repeat;position: relative;">
        <div class="app_shouye_logo_register"><a href="/page/mobile/user/main.html" class="no_bg">欢迎,chenxiaoqi</a></div>
        <div class="header-section11" style="margin-top: 210px;"><a href="/page/mobile/user/main.html" class="btn app-login no_bg">个人中心</a></div>
        <div class="header-section2" style="position: absolute;"><h3 class="text_color3">商户公共的选择</h3></div></div>
    </div>
   <div class="app_containter">
    <div class="app-search">
        <form class="app-frm" action="/mobile/order.html" method="post" style="text-align: center;">
            <div class="app_search_div">
              <input type="search" name="order" class="search-input" placeholder="请输入订单号或者联系方式" maxlength="35" style="display: inline-block;">
              <button type="submit" class="text_color no_bg" style="margin-left: 1%;display: inline-block;">查 询</button>
            </div>
        </form>
    </div>
    <div style="padding: 8px 0px;text-align: center;color: #fff;width: 100%;margin:0px auto;margin-top: 10px;border-radius: 4px;box-sizing: border-box;letter-spacing: 1px;display: block;">
          <span style="display: block;width: 100%;letter-spacing: 1px;font-size: 19px;"><i style="font-style: normal;padding-right: 5px;color: #fff;">提示</i>:请将购买时的订单号或预留的联系方式填入框中</span>
    </div>
    <!-- <hr style="border-top: 0px;width: 95%;margin: 0px auto;border-color: #ddd;"> -->
    <div class="app_containter">
      <div class="app_section app_gfgd">
          <h1>官方公告</h1>
            <div name="app_gfgd_content">
                
                    <div class="app_ggnr app_nt_nr" id="124">请各位商家补齐商品使用说明<span class="app_zuixin"></span><i class="app_date">11月06日</i></div> 
                
                    <div class="app_ggnr app_nt_nr" id="123">通知：今天的自动结算将延迟至下午4点后到账<span class="app_zuixin"></span><i class="app_date">10月12日</i></div> 
                
                    <div class="app_ggnr app_nt_nr" id="122">通知：国庆期间自动结算将延迟下午到账<span class="app_zuixin"></span><i class="app_date">10月04日</i></div> 
                
            </div>
            <div class="app_ckgd app_w">
              <a onclick="location.href='/page/mobile/noteList.html'" class="no_bg">...查看更多</a>
            </div>
      </div>
      <div class="app_section app_gfgd app_jsgg">
          <h1>结算公告</h1>
            <div name="app_jsgg_content">
                
                    <div class="app_ggnr app_se_nr" id="420">2017年11月21日系统自动结算资金已到账<i style="font-style:normal;font-weight:400;">...</i><span class="app_zuixin"></span><i class="app_date">9小时前</i></div>
                
                    <div class="app_ggnr app_se_nr" id="419">2017年11月20日系统自动结算资金已到账<i style="font-style:normal;font-weight:400;">...</i><span class="app_zuixin"></span><i class="app_date">1天前</i></div>
                
                    <div class="app_ggnr app_se_nr" id="418">2017年11月19日系统自动结算资金已到账<i style="font-style:normal;font-weight:400;">...</i><span class="app_zuixin"></span><i class="app_date">2天前</i></div>
                
            </div>
            <div class="app_ckgd app_t">
              <a onclick="location.href='/page/mobile/settleList.html'" class="no_bg">...查看更多</a>
            </div>
      </div>
    </div>
   </div>
   <div class="bottom_section">
    <ul class="app_bottom_ul">
      <li><a href="/page/mobile/explain/about.html">产品服务<span>|</span></a></li>
      <li><a href="/page/mobile/explain/contact.html">联系我们<span>|</span></a></li>
      <li><a href="/page/mobile/explain/help.html">帮助中心</a></li>
    </ul>
   </div>
    <div class="common">
      <p>ICP备案证书号：<a href="http://www.miitbeian.gov.cn" style="color: #666;">粤ICP备16032120号-1</a></p>
      <p>百度实名认证主体识别码：BDV-510600677</p>
      <p style="padding-bottom: 0px;">版权所有： © 2016-2017 All rights reserved 快发卡<i class="bottom-red">仿盗版必究</i></p>　　
    </div>
  </div>
{/block}
