{extend name="@App/base" /}
{block name="style"}
  <style type="text/css">
      body{background: #fff;}
      .content_section p {line-height: 40px;color: #555;font-size: 20px;}
    </style>
{/block}
{block name="body"}
   <div class="kuaifaka_app" style="max-width: 100%;">
     <div class="nav-header">
      <div class="nav-title"><i onclick="javascript:history.back();"></i>服务项目</div>
    </div>
   	 <div class="about_section">
        <div class="gywm" id="gywm" deep="2">
          <h1 class="about_header text_color3">服务项目</h1>
	       	 <p>1314发卡平台隶属于宁波拽博网络科技有限公司，我们致力于打造业内专业的网络游戏及虚拟数字产品</p>
        	 <p>交易的电子商务寄售平台。为用户提供价廉物美的虚拟商品自动化交易处理服务和完美的用户体验。</p>
          <h2 class="about_header text_color3">一.1314发卡平台业务范围</h2>
          <div class="content_section">
		         （1）商家电子券、网络游戏产品、手机游戏产品、游戏辅助类卡密<br data-filtered="filtered">
		        （2）软件注册码、激活码等寄售<br data-filtered="filtered">
		        （3）官方卡密和直充的虚拟产品服务<br data-filtered="filtered">
		        （4）数字产品交易的系统支撑服务<br data-filtered="filtered">
          </div>
          <h2 class="about_header text_color3">二.1314发卡平台优势</h2>
          <div class="content_section">
		         （1） 注册简单：注册简单便捷，10秒即可完成注册，商户注册信息严格保密<br data-filtered="filtered">
		        （2） 操作简单：商户后台面板设置人性化，操作简单方便，支持手机端管理<br data-filtered="filtered">
		        （3） 结算及时：当日订单在次日9点—12点结算，最低满10元即可结算金额<br data-filtered="filtered">
		        （4） 安全保障：正规企业运营的平台，采用高防云服务器，资金安全有保障<br data-filtered="filtered">
        <p>（5） 优质服务：专业的客服热线和客服QQ，实时解决商户和买家的各种问题</p>
          </div>
        </div>
     </div>
   </div>
{/block}
