<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>支付订单</title>
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css" />
    <!--[if lt IE 9]><script src="_JS__/html5shiv.min.js"></script><![endif]-->
    <link rel="stylesheet" href="/Public/statics/css/pay.css" />
    <link rel="stylesheet" href="/Public/statics/css/bootstrap.min.css" />
    <script type="text/javascript" src="/Public/statics/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/statics/js/plugins/layer/layer.js"></script>
  
    <body>

        <form class="pay-submit-form" action="{$url}" method="get">
					<div class="pay-submit-body">
						<div class="cuowu">
							<img alt="" src="__IMG__/home/cuowu.gif">
						</div>
						<div class="pay-submit-content">
							<div>
								<label>订单号 : &nbsp</label><span>{$order['orderid']}</span></div>
							<div>
								<label>商品的名字 : &nbsp</label><span>{:good($order['goodid'],'goodname')}</span></div>
							<div>
								<label>支付方式 : &nbsp</label><span class="img"><img src="__IMG__/{$img}"></span>
							</div>
							<div>
								<label>单价 : &nbsp</label><moneyrmb>￥</moneyrmb><span class="unit-price">{$order['price']}</span>元
							</div>
							<div>
								<label>数量 : &nbsp</label><span class="num">{$order['quantity']}</span>
							</div>
							<div>
								<label>总计 : &nbsp</label><span class="total">{$total}</span>元
							</div>
							<div>
								<label>实付金额 : &nbsp</label><span class="paymoney">{$paymoney}</span>元
							</div>
						</div>
					</div>
					
					<div class="bankInfogo">
						<img src="__IMG__/home/shengming.gif">
						<strong>免责声明</strong>（向陌生人付款，请注意交易风险！）<br><span style="font-size:12px">由此产生的交易纠纷由双方自行处理，与1314支付无关!</span>
						<p><a style="font-size:14px;color:blue;text-decoration:underline" href="../view.htm?id=49" target="_blank">1.支付超时、支付失败、或已扣费显示“未付款”的说明!</a></p>
						<p><a style="font-size:14px;color:#ff00ea;text-decoration:underline" href="../orderquery.htm?orderid=7C8928B17BFC614D" target="_blank">2.使用购买时留下的“联系方式”可以查出所有相关的交易记录!</a></p>
						<p><a style="font-size:14px;font-weight:bold;color:#117875;text-decoration:underline" href="javascript:void(0)">【付款完成后，请不要马上关闭网页，请等待支付结果显示！】</a></p>
					</div>
					
					<div style="width: 420px; text-align: center; margin: 10px auto;" class="pay-submit-button">
						<a href="javascript:" class="btn btn-success btn-large" id="sure">重新选择支付</a>
						<a href="javascrpit:" class="btn btn-primary btn-large" id="pay">确认开始付款</a>
					</div>
									
			</form>
    </body>
    <script>
    	$("#sure").click(function(){
    		var index = parent.layer.getFrameIndex(window.name);
    		parent.layer.close(index);
    	});
    	$("#pay").click(function(){
    		var url = "{$url}";
    		window.open(url);
    	})
    </script>
</html>
