{extend name="Public/base" /}
{block name="body"}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" action="__SELF__" method="post">
                <!--原密码 单行文本-->
                {form:input name="oldpassword" type="password" title="原密码" cols="3" /}
                <!--密码 单行文本-->
                {form:input name="password" type="password" title="新密码" cols="3" /}
                <!--密码 单行文本-->
                {form:input name="repassword" type="password" title="重复密码" cols="3" /}
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <input type="hidden" name="id" value="{$info.id|default=''}">
                        <button class="btn btn-primary btn-block btn-lg ajax-form" type="submit" target-form="form-horizontal"><i class="fa fa-check"></i>&nbsp;提交</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-lg btn-block" onclick="javascript:history.back(-1);return false;"><i class="fa fa-reply"> 返回</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
