{extend name="Base/common" /}{block name="body"}
<div class="c-content">
    <div class="c-tip">
        【重要通知】产品违规发布规则说明<a href="javascript:void">点击查看</a>
    </div>
    <div class="cd-wrap padding20">
        <form  action="__SELF__" method="post" class="addr-form">
            <p>
                <label for="name">原密码：</label>
                <input type="password" class="ipt-text" name="oldpassword">
            </p>
            <p>
                <label for="name">新密码：</label>
                <input type="password" class="ipt-text" name="password">
            </p>
            <p>
                <label for="name">重复密码：</label>
                <input type="repassword" class="ipt-text" name="repassword">
            </p>
            <p class="marginL100">
                <input type="submit" value="保存" class="ipt-submit ajax-submit" target-form="addr-form">
            </p>
        </form>
    </div>
</div>
{/block}