{extend name="Public/base" /}
{block name="style"}<link href="__JS__/editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet">{/block}
<!-- 子导航 -->
{block name="body"}
<!--     <div class="ibox-title ibox-title-border">
        <div class="pull-left">
          
        </div>
    </div> -->
    <div class="ibox-title ibox-title-border">
        <div class="btn-group">
            <form method="get" class="form-inline so-form">
                <select name="ctype" class="form-control input-sm">
                    <option value='' selected>结算类型</option>
                    <option value="1">自动结算</option>
                    <option value="2">商户提现</option>
                </select>
                <div class="input-group">
                    <input type="text" class="form-control input-sm so-input" value="{:I('get.username')}" name="username" placeholder="用户名|手机|邮箱">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary so-btn" url="{:U('index')}"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ibox-content">
        <form class="form-horizontal m-t ids">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="row-selected icheck">
                            <input class="checkall" type="checkbox">
                        </th>
                        <th>id</th>
                        <th>商户名</th>
                        <th>真实姓名</th>
                        <th>收款方式</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {notempty name="list"}
                        {volist name="list" id="vo"}
                            <tr>
                                <td class="icheck">
                                    <input class="ids check" type="checkbox" name="ids[]" value="{$vo.id}">
                                </td>
                                <td>{$vo.id}</td>
                                <td class="title">{$vo.username}</td>
                                <td>{$vo['Userinfo']['realname']}</td>
                                <td>{$vo.ptype}</td>
                                <td>
                                    <a href="{:U('edit',array('id'=>$vo['id']))}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> 编辑</a>
                                    <a href="{:U('edit',array('id'=>$vo['id']))}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> 消息</a>
                                </td>
                            </tr>
                        {/volist}
                    {else/}
                    <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
                    {/notempty}
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <ul class="pagination">
            {$_page}
        </ul>
    </div>
{/block}
{block name="script"}
<script src="__JS__/linkagesel/comm.js"></script>
<script src="__JS__/linkagesel/linkagesel.min.js"></script>
<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
<script>
function DatePicker(beginSelector, endSelector) {
    $(beginSelector).datepicker({
        autoclose: true,
        endDate: new Date()
    }).on('changeDate', function(ev) {
        if (ev.date) {
            $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
        } else {
            $(endSelector).datepicker('setStartDate', null);
        }
    })
    $(endSelector).datepicker({
        todayHighlight: true,
        autoclose: true,
        endDate: new Date()
    }).on('changeDate', function(ev) {
        if (ev.date) {
            $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
        } else {
            $(beginSelector).datepicker('setEndDate', new Date());
        }

    })
}
DatePicker("#start", "#end");



</script>{/block}